# Auth0
AUTH0_SECRET=use openssl rand -hex 32] to generate a 32 bytes value
APP_BASE_URL=http://localhost:3000
AUTH0_DOMAIN=https://dev-pyrrty2b1kdxbhit.us.auth0.com
AUTH0_CLIENT_ID=p8heJVLk53EuL8YcWcNHM07COSz79GRf
AUTH0_CLIENT_SECRET=Kn46K5U2QKp5tUUxbCEKDnPAojpcrPJw7vjB_C55kfNdBRRzMzKyt0u8pc-Hq0Z
'If your application is API authorized add the variables AUTH0_AUDIENCE and AUTH0_SCOPE'
AUTH0_AUDIENCE=https://your_auth_api_identifier
AUTH0_SCOPE=openid profile email read:shows
# OpenAI
OPENAI_API_KEY=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
